<h4> Results </h4>

<% if params[:winner] %>
<div class='alert alert-info' >
  <% if @winner == 'player' %>
  <h3> Congratulations, you won! </h3>
  <% elsif @winner == 'dealer' %>
  <h3> Sorry, you lost </h3>
  <% end %>
</div>
<% end %>

<% if session[:message] %>
<div class='alert alert-block'>
  <h3> <%= session[:message] %> </h3>
</div>
<% end %>

<div class='well'>
  <h3> Dealer's cards are: </h3>
  <% session[:dealer_hand].each do |card| %>
  <%= img_url(card) %>
  <% end %>
  <br>
  <p> For a total value of: <%= calculate_total(session[:dealer_hand]) %> </p>
</div>

<br>
<br>

<div class='well'>
  <h3> Your cards are: </h3>
  <% session[:player_hand].each do |card| %>
  <%= img_url(card) %>
  <% end %>
  <br>
  <p> For a total value of: <%= calculate_total(session[:player_hand]) %> </p>
</div>
<br>
<a href='/game-start' class='btn btn-primary'>Play again</a>
